.place {
  padding: 200px 0 124px;

  @media (max-width: $tablet-width) {
    padding: 80px 0 95px 0;
  }
}

.place__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.place__item {
  position: relative;
  margin-left: 5.12382%;
  margin-bottom: 101px;
  width: 29.23%;

  @media (max-width: $tablet-width) {
    margin: 0 29px 20px 0;
    width: 47.59%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin: 0 0 35px 0;
  }
}

@media (max-width: $tablet-width) {
  .place__item:nth-child(2n) {
    margin-right: 0;
  }
}

.place__name {
  position: absolute;
  background-color: $basic-white;
  width: 61.43%;
  height: 14.186%;
  bottom: 0;
  left: 50%;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  margin-left: -30.71%;

  @media (max-width: $desktop-width) {
    width: 74.6527%;
    left: 12.5%;
    background-position: center;
  }
}

@media (max-width: $tablet-width) {
  .place__picture {
    width: 100%;
    height: auto;
  }
}

.place__title {
  font-size: $fs-accent;
  line-height: $lh-accent;
  position: relative;
  margin: 0 0 64px 0;
  width: 34.1588%;

  @media (max-width: $tablet-width) {
    width: 39.19%;
    margin: 0 auto 20px auto;
    font-size: $fs-tablet-accent;
    line-height: $lh-tablet-accent;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .place__title::before {
    content: "";
    position: absolute;
    border-bottom: 4px solid $special-red;
    width: 228px;
    bottom: -30px;
    left: 0;
  }
}

.place__text {
  margin: 0 0 55px 0;
  width: 28.18%;

  @media (max-width: $tablet-width) {
    width: 44.66%;
    margin: 0 auto 40px auto;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.place__item:first-child {
  margin-left: 0;
}

.place__item:nth-child(4) {
  margin-left: 0;
}
